<div id="bodytopmainPan">
  <div id="bodytopPan">
    <h2>Aciertos <%= @hits_article %> / <%= @nouns_played %></h2>
  </div>
</div>

   <!--Hits Translations <%#= @hit_translation %> / <%#= @nouns_played %></h3> -->
